* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Baloo 2', cursive;
  font-size: 16px;
  color: #fff;
  background-color: #11294d;
}

.hidden {
  opacity: 0;
  transition: opacity .5s linear;
}

.show {
  opacity: 1;
  transition: opacity .5s linear;
}

.logo-title {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-title img {
  max-width: 150px;
}

.logo-text {
  font-size: 50px;
  color: #f9c70e;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.dati-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select {
  border: none;
  border-radius: 5px;
  padding: 5px 0 5px 5px;
  font-family: 'Baloo 2', cursive;
  font-size: 14px;
}

input:focus,
select:focus {
  background-color: #f9c70e;
}

.btn {
  background-color: #f9c70e;
  border: 2px solid #bfccd4;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #11294d;
  box-shadow: 3px 3px rgba(0, 0, 0, .5);
  font-family: 'Baloo 2', cursive;
  font-size: 16px;
  margin-top: 10px;
}

.genera {
  margin-right: 10px;
}

.annulla {
  background-color: #bfccd4;
}

.wrapper .col {
  margin-bottom: 10px;
}

.wrapper .col label {
  margin-right: 10px;
}

#biglietto {
  max-width: 100%;
  border: 3px solid #f9c70e;
  border-radius: 30px;
  padding: 10px;
  margin: 20px 0 20px;
}

.title-ticket {
  font-size: 30px;
}

.dettagli {
  margin-bottom: 20px;
}

th, td {
  border: 2px solid #f9c70e;
}

td {
  text-align: center;
}

#acquista {
  background-color: #f9c70e;
  border: 2px solid #bfccd4;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #11294d;
  box-shadow: 3px 3px rgba(0, 0, 0, .5);
  font-family: 'Baloo 2', cursive;
  font-size: 16px;
}

@media screen and (min-width: 667px) {
  .logo-title {
    flex-direction: row;
    padding-bottom: 30px;
  }

  .logo-title img {
    padding-right: 30px;
  }

  #biglietto {
    border: 3px solid #f9c70e;
    border-radius: 30px;
    padding: 30px;
    margin: 20px 0 20px;
  }

  th, td {
    padding: 10px;
  }
}
